.parent {
    background-color: #7cfc00;
    padding: 20px;
    height: 100vh;
    font-family: sans-serif;
}

.child1 {
    background-color: #d2691e; 
    padding: 20px;
    margin-bottom: 10px;
}

.child2 {
    background-color: #ffbf00; 
    padding: 20px;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
}

p {
    background-color: #40e0d0; 
    display: inline-block;
    padding: 5px;
    font-weight: bold;
}
